html, body{
    height:100%;
    display: flex;
}

header{
    display: flex;
    height:10%;
    background-color: rgb(83, 70, 199);
    color: white;

}

#input_Header_Search_Bar{
    border-radius: 10px;
    border: 5px solid white;
}

#section_Main_Section{
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(137, 201, 53);
}

#section_Left_Column{
    display: flex;
    width: 20%;
    background-color: greenyellow;
}

#section_Main_Column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:60%;
    background-color: lightblue;
    padding: 5px;
}

    #section_Topic_Search{
        display: flex;
        background-color: rgb(212, 235, 243);
        padding: 10px;
        border: 2px solid red;
    }
        .section_Topic_Holder{
            display: flex;
            justify-content: space-around;
        }
    #section_Forum{
        display: flex;
        background-color: rgb(27, 133, 133);
        padding: 10px;
        border: 2px solid red;
    }    
        #nav_Forum{
            display: flex;
            overflow-y: scroll;
            margin: 5px;
        }
            #section_Forum{
                display: flex;
                border: 1px dotted black;
                margin: 2px 0px;
                background-color: beige;
            }
                .section_Like{
                    display: flex;
                    justify-content: space-around;
                    border: 1px dotted black;
                }
                .section_Like p{
                    background-color: white;
                }
    #section_Submission{
            display: flex;
            flex-direction: column;
            border: 2px solid red;
            background-color: gray;
            margin: 5px;
        }
            #section_Submission_Text{
                display: flex;
                justify-content: space-around;
                margin: 5px;
            }
            #button_Submit{
                color:white;
                background-color: aqua;
                padding: 5px;
                margin: 5px;
            }
#section_Right_Column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    background-color: lightgreen;
}
    #nav_Ranked{
        display: flex;
        background-color: fuchsia;
        border-radius: 10px;
        padding: 2px;
    }
    #nav_Recent{
        background-color: rgb(155, 129, 15);
        border-radius: 10px;
        padding: 2px;
    }
    #nav_Stats{
        background-color: rgb(53, 104, 12);
        border-radius: 10px;
        padding: 2px;
    }
        .h3_Title{
            color: white;
            margin-bottom: 2px;
            text-align: center;
            border: solid 2px solid white;
        }
        .section_Display1{
            display: flex;
            flex-direction: column;
        }
            .section_Display_First{
                display: flex;
                justify-content: space-between;
                color: white;
                font-weight: bold;
                background-color: rgb(33, 79, 233);
            }
            .section_Display_Several{
                display: flex;
                justify-content: space-between;
                color: white;
                background-color: rgb(62, 184, 143);
                border: 1px solid yellow;
            }
footer{
    display: flex;
    height:10%;
    background-color: rgb(83, 70, 199);
    justify-content: space-around;
    color: white;
}
