html, body, div{
  height:100%;
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:10%;
  background-color: rgb(83, 70, 199);
  padding: 10px;
}

h1{
  color: white;
  margin-left: 50px;
  font-size: 3em;
}

#input_Header_Search_Bar{
  border-radius: 10px;
  border: 5px solid rgb(219, 219, 159);
  height:50%;
  width: 60%;
  margin-right: 50px;
}

#section_Main_Section{
  display: flex;
  align-self: center;
  width:98%;
  height: 70%;
  border-radius: 5px;
  margin: 10px 0px;
  border: 5px solid rgb(137, 201, 53);
}

#section_Left_Column{
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 1%;
  background-color: greenyellow;
}
  #section_Admin_Box{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: purple;
    height: 70%;
    width: 90%;
  }
    #section_Admin_Box>section{
      color:white;
      border: white 2px solid;
      margin: 5%;
      padding: 5%;
      text-align:center;
    }
    #section_Admin_Box>button{
      border-radius: 2px;
      margin: 3%;
      color:white;
      background-color: darkred;
      border: seagreen 4px inset;
      height: 20%;
    }
      #section_Admin_Box>button:active{
        background-color: black;
      }    

#section_Main_Column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  background-color: lightblue;
  padding: 5px;
}

  #section_Topic_Search{
      display: flex;
      flex-direction: column;
      width: 92%;
      height: 12%;
      border-radius: 5px;
      background-color: rgb(212, 235, 243);
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid red;
  }
      .section_Topic_Holder{
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
      }
      select{
        display: flex;
        
      }
      h3:not(.h3_Title){
        margin: 0px 30px;
      }
      #select_Topic{
        display: flex;
        justify-self: end;
      }
  #section_Forum{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 92%;
      height:70%;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(27, 133, 133);
      border: 2px solid red;
  }    
      #nav_Forum{
          display: flex;
          flex-direction: column;
          width: 95%;
          height: 60%;
          overflow-y: scroll;
          margin: 5px;
      }
          .section_Posts{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              height:35%;
              border: 1px dashed black;
              margin: 2px 0px;
              padding: 5px;
              margin: 2px 0px;
              background-color: beige;
          }
            .section_Posts button{
              width:10%;
              padding:0;
              border-style: none;
              background-color: transparent;
            }
              .post_Top_Section{
                  display: flex;
                  align-items: center;
                  width: 98%;
                  height: 60%;
                  padding: 3px;
                  box-sizing: border-box;
                  border: 1px dotted black;
                  font-size: 13px;
              }
                .post_Top_Section>p{
                  width:80%;
                }
                .post_Top_Section>button:active>img{                  
                  filter: brightness(0);
                }               
                .section_Posts button{
                  width: 20%;
                  height: 100%;
                }
                button img{
                  width: 100%;
                  height: 100%;
                }
                .post_Top_Section>button>img.selected{
                  filter: brightness(0.3);
                }
              .post_Bottom_Section{
                display: flex;
                justify-content: space-around;
                width: 98%;
                height: 40%;
                padding: 3px;
                box-sizing: border-box;
                align-items: center;
                border: 1px dotted black;
              }
              .section_Like p{
                background-color: white;
              }
              .section_Like img{
                display: flex;
                justify-self: end;
                margin: 0px 5px;
              }
  #section_Submission{
          display: flex;
          flex-direction: column;
          width: 60%;
          height: 30%;
          border-radius: 5px;
          align-items: center;
          border: 2px solid red;
          background-color: rgb(185, 185, 185);
          margin: 5px;
      }
          #section_Submission_Text{
              display: flex;
              width: 100%;
              height: 80%;
              justify-content: space-around;
              margin: 5px;
          }
          textarea{
            width: 90%;
          }
          #button_Submit{
              color:white;
              font-weight: bold;
              background-color: rgb(72, 209, 209);
              border-radius: 5px;
              padding: 5px;
              margin: 5px;
              width: 30%;
          }
#section_Right_Column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  background-color: lightgreen;
}
  #nav_Ranked{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      width: 90%;
      height: 35%;
      background-color: rgb(204, 46, 73);
      border-radius: 10px;
      padding: 2px;
  }
  #nav_Recent{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      width: 90%;
      height: 35%;
      background-color: rgb(155, 129, 15);
      border-radius: 10px;
      padding: 2px;
  }
  #nav_Stats{
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      width: 90%;
      height: 15%;
      background-color: rgb(53, 104, 12);
      border-radius: 10px;
      padding: 2px;
  }
    .section_Title_Box{
      border: 4px solid white;
      box-sizing: border-box;
      width: 365px;
      margin: 10px 0px;
    }
      .h3_Title{
          color: white;
          font-size: 2vw;
          text-align: center;
          margin: 5px;
    }
  .section_Display_First{
      display: flex;
      height: 20px;
      width: 93%;
      padding: 3px;
      justify-content: space-between;
      color: white;
      font-weight: bold;
      background-color: rgb(33, 79, 233);
    }
    .section_Display_First #rank{
      margin-right: 100px;
    }
    .section_Display_Several{
      display: flex;
      flex-direction: column;
      width: 94%;
    }
    .section_Display_Unit{
        display: flex;
        justify-content: space-between;
        color: white;
        height: 20px;
        padding: 3px;
        background-color: rgb(62, 184, 143);
        border: 1px dashed yellow;
    }
    .section_Display_Unit #title{
      width: 30%;
      overflow:hidden;
      overflow-y: scroll;
    }
    p{
      margin:0;
    }
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:10%;
  background-color: rgb(83, 70, 199);
  color: white;
}
footer p{
  margin-right: 50px;
}
